<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="LOG_LEVEL_APP" source="logging.level.com.amazonpricemonitor" defaultValue="INFO"/>
    <springProperty scope="context" name="LOG_LEVEL_ROOT" source="logging.level.root" defaultValue="INFO"/>

    <springProfile name="test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex</pattern>
            </encoder>
        </appender>
        <logger name="com.amazonpricemonitor" level="${LOG_LEVEL_APP}"/>
        <root level="${LOG_LEVEL_ROOT}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!test &amp; !json">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} {%replace(%mdc){'^$','-'}} - %msg%n%ex</pattern>
            </encoder>
        </appender>
        <logger name="com.amazonpricemonitor" level="${LOG_LEVEL_APP}"/>
        <root level="${LOG_LEVEL_ROOT}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!test &amp; json">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <logger name="com.amazonpricemonitor" level="${LOG_LEVEL_APP}"/>
        <root level="${LOG_LEVEL_ROOT}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
